.greeting-section {
  background-image: url('https://images.unsplash.com/vector-1738932609149-3644846569ca?q=80&w=2960&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  /* background-color: red; */
}